
.input {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: fit-content;
    align-items: center;
   
    /* background-color: white; */
    margin: 5px;
}

.input > input,
.input > input:hover,
.input > input:active,
.input > input:focus {
    display: flex;
    flex: 1;
    outline: 0;
    padding: 5px;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0);
    outline: 2px solid rgba(255, 255, 255, 0);
    transition: outline 300ms linear;
}

.input > input::placeholder {
    font-size: 11px;
    opacity: 0.7;
}

.input > input:focus {
    outline-color: rgba(116, 241, 245, 0.432);
}

.input > .error-field,
.input > .error-field:focus {
    outline-color: rgba(245, 116, 116, 0.432);
}