.confirm {
    display: none;
    align-items: baseline;
}

.confirm-container,
.confirm-container > .confirm-head,
.confirm-container > .confirm-btn-container {
    display: flex;
}

.confirm-container {
    align-items: center;
    flex: 0 1 400px;
    flex-wrap: wrap;
    height: fit-content;
    margin: 0 10px 0 10px;
    margin-top: -10px;
    /* transition: margin 500ms e; */
    /* position: absolute; */
    /* top: -100px; */
}

.confirm-container > .confirm-head,
.confirm-container > .confirm-btn-container {
    align-items: center;
    flex: 0 1 100%;
    height: fit-content;
    padding: 10px;
    border-width: 0;
    border-bottom-width: 2px;
    border-radius: 0;
}

.confirm-container > .confirm-btn-container {
    border-width: 0;
    border-top-width: 2px;
    justify-content: flex-end;
}

.confirm-container > .confirm-btn-container > .btn-primary {
    margin-left: 10px;
}

.confirm-container > .confirm-head > .title-text {
    font-weight: 600;
}

.confirm-container > .question-text {
    padding: 15px 10px;
    font-size: 14px;
}
