a,
a:hover,
a:visited,
a:active,
a:focus {
    color: inherit;
}

* {
    border-style: solid;
}

.blur-bg-effect {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    backdrop-filter: blur(2px);
}


.solid-container,
.light-container,
.global-border {
    border-radius: 4px;
    border-width: 1.5px;
    border-style: solid;
}

.solid-container,
.light-container {
    transition: background 300ms ease-in;
}

/* Select */
select,
select:active,
select:focus {
    outline: 1px solid rgba(255, 255, 255, 0);
    border-width: 1px; 
    font-family: inherit;
}

/* Toggle */
.toggle, .icon-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transition: color 300ms linear, opacity 300ms linear, background-color 400ms ease-in-out;
}

.toggle {
    padding: 5px 10px;
    font-size: 13px;
    width: fit-content;
    height: fit-content;
    border-radius: 2px;
}

.toggle-disabled {
    opacity: 0.5;
    cursor: default;
}

.toggle-text {
    margin-left: 5px;
}

/* Buttons */

.btn, .bordered-icon-btn, .round-bordered-icon-btn {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    border-style: solid;    
    border-width: 1.5px;
    cursor: pointer;
    transition: color 300ms linear, opacity 300ms linear;
}

.bordered-icon-btn,
.round-bordered-icon-btn {
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25px;
    height: 25px;
}

.round-bordered-icon-btn {
    border-radius: 50%;
}

.btn-disabled {
    opacity: 0.50;
    cursor: not-allowed;
}

/* Hover Effecrt */
.btn:hover,
.toggle:hover,
.icon-toggle:hover {
    opacity: 0.50;
}


.counter {
    display: inline-block;
    padding: 2.5px 4px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    font-size: 10px;
    position: absolute;
    top: -10px;
    right: -6px;
}

@media screen and (max-width: 750px) {
    .blur-bg-effect {
        backdrop-filter: none;
    }
}
